/* global */
:root {
  /* color */
  --primary-color: blue;

  /* font-choice */
  --primary-font: 'Times New Roman', Times, serif;

  /* Base sizing */
  --base-font-size: 14px;
}
/* Base Element Styles */
body {

}

.pd-flex {
  display: flex;
  flex-direction: row;
}
.pd-flex-col {
  display: flex;
  flex-direction: column;
}
.pd-gallery-container {
  width: 70%;
  height: 32rem;
  padding: 1rem;
}
.pd-aside-container {
  padding: 1rem;
}

.ri-container {

}
.ri-card {

}
.ri-card:hover {

}
.ri-image {

}
.ri-category {

}
.ri-name {

}
.ri-price {

}
.ri-rating {

}
.ri-arrow {

}
.qa- {
  /* Questions/Answers section */
}

.rr- {
  /* Ratings & Reviews */
}
