/* global */
:root {
  /* color */
  --primary-color: blue;

  /* font-choice */
  --primary-font: 'Times New Roman', Times, serif;

  /* Base sizing */
  --base-font-size: 14px;
}
/* Base Element Styles */
body {

}

.pd-flex {
  display: flex;
  flex-direction: row;
}
.pd-flex-col {
  display: flex;
  flex-direction: column;
}
.pd-items-center {
  align-items: center;
}
.pd-wide-container {
  flex: 0 0 60%;
  padding: 1rem;
  box-sizing: border-box;
}
.pd-aside-container {
  padding: 1rem;
}
.pd-info-container {
  margin: 2rem;
}
.pd-features-list {
  padding: 0;
  margin: 0 0 0 1rem;
  list-style: none;
}
.pd-features-list li:before {
    content: '✓';
    margin-right: 0.5rem;
}
.pd-border-l {
  border-left: solid;
  border-width: thin;

}

.ri-container {

}
.ri-card {

}
.ri-card:hover {

}
.ri-image {

}
.ri-category {

}
.ri-name {

}
.ri-price {

}
.ri-rating {

}
.ri-arrow {

}
.qa- {
  /* Questions/Answers section */
}

.rr- {
  /* Ratings & Reviews */
}
